body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 420px;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
button {
    width: 100%;
    padding: 12px;
    background: #b31217;
    color: white;
    border: none;
    font-weight: bold;
}
